Django==4.2.14
crispy-bootstrap4==2024.10
Pillow==10.3.0
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
Brotli==1.1.0
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
cryptography==44.0.3
cssselect2==0.8.0
defusedxml==0.7.1
idna==3.7
pycparser==2.22
PyMuPDF==1.24.1
python-bidi==0.4.2
reportlab==4.1.0
requests==2.31.0
six==1.16.0
tinycss2==1.2.1
urllib3==2.2.1
WeasyPrint==61.2
background-task==1.2.5
whitenoise==6.6.0